body {
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}

div.container {
    position: fixed;
    z-index:-1;
}

canvas {
    height:100vh;
}

.large-header {
   position: relative;
   width: 100vw;
   background: #444;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
}

small {
   font-size:15px;
}

.demo .large-header {
   ackground-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

h1 {
    margin:0px;
}

.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
   text-transform: uppercase;
   font-size: 4.2em;
   letter-spacing: 0.1em;
}

.main-title .thin {
   font-weight: 200;
}

div#main {
    background:#82b1ff;
    z-index:3;
    position: absolute;
    top:100vh;
    padding:30px 200px;
    position: relative;
    font-family: "Roboto";
}

div#main section {
    border-bottom: 1px solid #eee;
    background:white;
    padding:10px;
}

nav {
    position: fixed;
    background: transparent;
    /*90caf9;*/
    width:100vw;
    z-index: 5;
    ransition: background .1s;
}

nav ul {
    text-align: center;
    margin-right: 30px;
    font-size: 18px;
}

nav a {
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s;
    padding:8px;
}

nav a:hover {
    color:#90caf9;
}

nav li {
    list-style-type: none;
    display:inline-block;
    text-align: center;
}

#showcase {
    flex-wrap: wrap;
}

.box {
    min-height:250px;
    width:250px;
    margin:20px 10px;
    background: #eee;
    border-radius:5px;
    display:inline-block;
    box-shadow: 1px 1px 1px #888;
}

.box img {
    border-radius: 5px 5px 0px 0px;
}

.box .box-text {
    margin:5px;
}

@media only screen and (max-width: 768px) {
   .demo .main-title {
      font-size: 3em;
   }
}
